/* ================== MEDIA QUERIES ========================================================= */

// MOBILE
$maxMobile: "(max-width:767px)";
// SMALL
$maxSmall: "(max-width:991px)";
// SMALL
$minSmall: "(min-width:768)";
// MEDIUM
$minMedium: "(min-width:992px)";
// LARGE
$minLarge: "(min-width:1200px)";

/* =================== COLORS ========================================================= */
$redColor: #d45079;
$greyColorDark: #555;
$greyColorLight: #777;
$pointer: url(/Assets/Images/Cursors/clickGold.png), auto;
