// ================================= IMPORT ===================================================================

// HELPERS ====================
@import 'Helpers/_variables';
@import 'Helpers/_mixins';
@import 'Helpers/_functions';

// =========================== FONTS ==================================================
@import url('https://fonts.googleapis.com/css?family=Arvo&display=swap');

// ============================ BODY ===================================================
* {
  box-sizing: border-box;
}

body {
  font-family: 'Arvo';
  scroll-behavior: smooth;
  // background-color: #333,
  // cursor: url(/Assets/Images/Cursors/mouseBlack1.png), auto;
}

// ============================ CUSTOM SCROLLBAR =======================================

// For firefox
:root {
  scrollbar-color: #666 #222 !important;
  scrollbar-width: thin !important;
}

::-webkit-scrollbar {
  width: 7.5px;
}

::-webkit-scrollbar-track {
  background-color: #222;
}

::-webkit-scrollbar-thumb {
  background-color: #666;
  border-radius: 50px;

  &:hover {
    background-color: #16dbe9;
  }
}

// ============================ FRAME WORK =============================================
:focus {
  outline: none;
}

li {
  list-style: none;
}
